a{
  text-decoration: none;
}
nav a{
  color: #0070cc;
}
a:hover{
  color: #33A3FF;
}
article{
  background-color: #fff;
  color: #000;
  width: 45%;
  padding: 1%;
  margin: 1%;
  border: 2px solid #0070cc;
  font-size: 12pt;
}
article p{
  text-indent: 24pt;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1{
  font-size: 48px;
  margin: 32px;
  text-align: center;
}
h2{
  margin: auto;
  text-align: center;
}
header{
  background-color: #0070cc;
  color: #fff;
  width: 100%;
  margin: auto;
  padding: 5px;
  margin: 0;
}
img{
  display: block;
  margin: auto;
}
nav{
  background-color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #0070cc;
  padding: 5px;
  border-bottom: 4px solid #0070cc;
}
.border{
  border: 2px solid #0070cc;
}
#home{
  width: 90%;
}
#wrapper{
  margin: auto;
  width: 1000px;
  background-color: #fff;
}
