body {
	margin:0px;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-style:normal;
}
#top {
	background-color:#4f4f4f;
	padding: 32px;
	padding-left:64px;
	border:0px;
	border-bottom:8px;
	border-color:#ff6700;
	border-style:solid;
}
#title {
	color: #ff6700;
	margin:0px;
	font-size:36px;
}
#under {
	margin:0px;
	margin-left:32px;
	color: #ffffff;
	font-size: 24px!important;
}
#bottom {
	background-color:#dddddd;
	margin:24px;
	padding: 0px!important
}
.text {
	font-size: 18px;
	padding:32px;
	color: #555555;
}
#square{
	background-color: #000000;
	margin: 0px;
	padding:0px;
	width: 10px;
	height: 10px;
}
#text{
	margin: auto;
	text-align: center;
	background-color: #cccccc;
	width: 80%;
	height: 32px;
	line-height: 32px;
}
#text a{
	text-decoration: none;
	color: #07c;
}
#morerandclr{
	display: none;
	font-size: 10px;
}
#moreOpt{
	width: 200px;
	height: 80px;
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #000;
	text-align: center;
}
#evenOdd{
	margin: 10px 0;
}
#blackTri{
	top: 100%;
	left: -1px;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 16px solid #000;
}
#whiteTri{
	top: 100%;
	width: 0;
	height: 0;
	position: absolute;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #fff;
}
input, select{
	background-color: #fff;
	color: #000;
}
#clrstr{
	width: 25%;
	display: none;
}
#deg{
	width: 48px;
}
