a{
  text-decoration: none;
  color: #f40;
}
a:hover{
  color: #fa6;
}
article{
  font-size: 18px;
}
p{
  text-indent: 24pt;
  line-height: 28px;
}
body{
  margin: 0;
  font-family: 'Open Sans';
}
header{
  background-color: #f40;
  color: #fff;
  width: 100%;
  height: 128px;
  margin: auto;
  padding: 5px 0;
  margin: 0;
}
h1{
  font-size: 48px;
  line-height: 64px;
  margin: 32px;
  text-align: center;
  font-family: 'Pacifico';
  text-shadow: 4px 4px #66c;
}
img{
	width: 300px;
}
nav{
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 22px;
  margin: auto;
  text-align: center;
  color: #f40;
  padding: 5px 0;
  border-bottom: 4px solid #f40;
  margin-bottom: 16px;
}
section{
  margin: auto;
  width: 80%;
  background-color: #fff;
}
.spacer{
	display: flex;
	justify-content: space-evenly;
}
.containter{
	width: 300px;
	text-align: center;
	border: 4px solid #000;
	border-radius: 4px;
	background-color: #fff;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown > a{
  display: block;
  height: 30px;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}
.dropdown-border{
  position: absolute;
  background-color: #fff;
  border: 4px solid #f40;
  border-top: 0;
  width: 100%;
  top: 27px;
  z-index: 1;
}
.dropdown-content a {
  color: #f40;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #fa6;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#lBlue{
	color: #0070cc;
	text-decoration: underline;
	text-decoration-color: #0070cc;
}
#mOrange{
	color: #f40;
	text-decoration: underline;
	text-decoration-color: #f40;
}
#rainbow, .rainbow{
  width: 80%;
  position: relative;
  margin: auto;
  background: linear-gradient(0deg, red, orange , yellow, green, cyan, blue, violet);
  padding: 4px;
}
#rainbow article, .rainbow article{
  background-color: #fff;
  padding: 3px;
}
.rainbow td{
  text-align: center;
  background-color: #fff;
}
.rainbow td a{
  display: block;
  font-size: 24px;
  height: 48px;
  line-height: 48px;
  width: 128px;
}
.rainbow table{
  border-spacing: 4px;
}
