html{
	margin: 0px;
	height: 100%;
	width: 100%;}	
body {
	margin:0px;
	min-height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight:normal;
	font-style:normal;}
#wrapper{
	margin: 0px;
	height: 100%;
	width: 100%;}
#top {
	background-color:#4f4f4f;
	padding: 2.5%;
	padding-left: 5%;
	border:0px;
	border-bottom:0.5em;
	border-color:#ff6700;
	border-style:solid;}
#toplink {
	text-decoration: none;}
#title {
	color: #ff6700;
	margin:0px;
	font-size:36px;}
#under {
	margin:0px;
	margin-left:32px;
	color: #ffffff;
	font-size: 24px!important;}
#bottom {
	background-color:#dddddd;
	margin:24px;
	height: 700px;
	padding: 0px!important}
.text {
	font-size: 18px;
	padding:32px;
	color: #555555;}
#text{margin: auto;
	margin-top: 22px;
	text-align: center;
	background-color: #cccccc;
	width: 90%;}
.cont {
	width:41%;
	height: 82%;
	margin: 2%;
	padding: 3%;
	background-color: #FFFFFF;
	float: left;
}
#left{
	margin-right: 1%;
}
#right{
	margin-left: 1%;
}
h2{
	text-align: center;
}
.row{
	/*background-color: #0077ff*/;
	width: 96%;
	height: 20%;
	float: left; 
}
.line {
	border-bottom: 3px solid #777777;
}
h3, input, textarea{
	float:left;
}
input, textarea{
	resize: none;
	height: 25%;
	margin-left: 1%;
	font-size: 1em;
	font-family: 'Open Sans', sans-serif;
}
input{
	width: 80%;
	clear: both;
}
#decIn, textarea{
	width: 96%;
}
.sblink{
	float: right;
}
.submit{
	background-color: #ff6700;
    color: #ffffff;
    border: 5px solid #ff6700;
}
#keyOut, #keyIn{
	height: 10em;
}
#keyIn{
	width: 80%;
	clear: both;
}
.key{
	height:auto!important;
	padding-bottom: 2.5%;
}