a{
  text-decoration: none;
}
nav a{
  color: #f40;
}
a:hover{
  color: #fa6;
}
article{
  background-color: #fff;
  color: #000;
  width: 45%;
  padding: 1%;
  margin: 1%;
  border: 2px solid #f40;
  font-size: 20px;
}
article p{
  text-indent: 24pt;
  line-height: 28px;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1{
  font-size: 48px;
  margin: 32px;
  text-align: center;
}
h2{
  margin: auto;
  text-align: center;
}
header{
  background-color: #f40;
  color: #fff;
  width: 100%;
  margin: auto;
  padding: 5px 0;
  margin: 0;
}
img{
  display: block;
  margin: auto;
}
nav{
  background-color: #fff;
  width: 100%;
  margin: auto;
  text-align: center;
  color: #f40;
  padding: 5px 0;
  border-bottom: 4px solid #f40;
}
table{
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}
td{
  border: 2px solid #f40;
}
td p{
  margin: 4px;
}
.border{
  border: 2px solid #f40;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: -22px;
  min-width: 160px;
  z-index: 1;
}
.dropdown-border{
  position: absolute;
  background-color: #fff;
  border: 4px solid #f40;
  border-top: 0;
  width: 100%;
  height: 53px;
  top: 27px;
  z-index: 0;
}
.dropdown-content a {
  color: #f40;
  padding: 4px 4px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  color: #fa6;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.spacer{
	display: flex;
	justify-content: space-evenly;
}
#home{
  width: 90%;
  margin: auto;
  margin-top:1%;
}
#wrapper{
  margin: auto;
  width: 80%;
  background-color: #fff;
}
